<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provit.mapper.interview.CareerMapper">

    <select id="selectCareerListByResumeNum"
            parameterType="int"
            resultType="com.provit.dto.user.CareerDTO">
        SELECT
            CAREER_NUM,
            RESUME_NUM,
            COMPANY_NAME,
            JOIN_DATE,
            RESIGN_DATE,
            MAIN_DUTY
        FROM T_CAREER
        WHERE RESUME_NUM = #{resumeNum}
        ORDER BY JOIN_DATE DESC, CAREER_NUM DESC
    </select>

</mapper>
