<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provit.mapper.interview.CoverLetterMapper">

    <sql id="coverLetterColumns">
        LETTER_NUM,
        USER_NUM,
        COVER_LETTER_TITLE,
        GROWTH_PROCESS,
        PERSONALITY_STRENGTHS_WEAKNESSES,
        PROBLEM_SOLVING_EXPERIENCE,
        POST_JOINING_ASPIRATION,
        CREATED_AT,
        UPDATED_AT
    </sql>

    <select id="selectCoverLetterListByUserNum"
            parameterType="int"
            resultType="com.provit.dto.user.CoverLetterDTO">
        SELECT
            <include refid="coverLetterColumns" />
        FROM T_COVER_LETTER
        WHERE USER_NUM = #{userNum}
        ORDER BY UPDATED_AT DESC, LETTER_NUM DESC
    </select>

    <select id="selectCoverLetterByLetterNumAndUserNum"
            parameterType="map"
            resultType="com.provit.dto.user.CoverLetterDTO">
        SELECT
            <include refid="coverLetterColumns" />
        FROM T_COVER_LETTER
        WHERE LETTER_NUM = #{number}
          AND USER_NUM = #{userNum}
    </select>

</mapper>
