<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provit.mapper.interview.CoverLetterMapper">

    <select id="selectCoverLetterByUserNum"
            parameterType="int"
            resultType="com.provit.dto.user.CoverLetterDTO">
        SELECT
            USER_NUM,
            COVER_LETTER_TITLE,
            GROWTH_PROCESS,
            PERSONALITY_STRENGTHS_WEAKNESSES,
            PROBLEM_SOLVING_EXPERIENCE,
            POST_JOINING_ASPIRATION,
            CREATED_AT,
            UPDATED_AT
        FROM T_COVER_LETTER
        WHERE USER_NUM = #{userNum}
    </select>

</mapper>
