<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provit.mapper.interview.EducationMapper">

    <select id="selectEducationListByResumeNum"
            parameterType="int"
            resultType="com.provit.dto.user.EducationDTO">
        SELECT
            EDU_NUM,
            RESUME_NUM,
            SCHOOL_NAME,
            ADMISSION_DATE,
            GRADUATION_DATE,
            MAJOR,
            EDUCATION_STATUS
        FROM T_EDUCATION
        WHERE RESUME_NUM = #{resumeNum}
        ORDER BY ADMISSION_DATE DESC, EDU_NUM DESC
    </select>

</mapper>
