<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provit.mapper.interview.UserJobMapper">

    <select id="selectUserJobPreferenceByUserNum"
            parameterType="int"
            resultType="com.provit.dto.user.UserJobPreferenceDTO">
        SELECT
            u.USER_NUM,
            u.JOB_CODE,
            j.JOB_NAME,
            u.OCCUPATION_CODE,
            o.OCCUPATION_NAME
        FROM T_USER u
        LEFT JOIN T_JOB j
          ON u.JOB_CODE = j.JOB_CODE
        LEFT JOIN T_OCCUPATION o
          ON u.OCCUPATION_CODE = o.OCCUPATION_CODE
        WHERE u.USER_NUM = #{userNum}
          AND u.USER_IS_DELETED = 0
    </select>

</mapper>
